body {
	min-width: 960px;
	margin: 0;
	padding: 0;

	font-family: 'PT Sans Narrow', Arial, sans-serif;
	font-size: 14px;
	line-height: 24px;
	font-weight: 700px;
	color: #ffffff;
	text-transform: uppercase;

	background-color: #000000;
	background-image: url("../img/bg.jpg");
	background-position: top center;
	background-repeat: no-repeat;
}
.inner-page {
color: #000000;

	background-color: #FCF9F6;
	background-image: url("../img/texture-catalog.jpg");
	background-position: 0 0;
 background-repeat: repeat;

}
.inner-page .main-header {
	margin-bottom: 50px;
	background-color: #000000;
}
a {
	text-decoration: none;
}
img {
	max-width: 100%;
	height: auto;
}
.site-navigation a,
.user-navigation a {
	display: block;
	padding: 25px 20px;
color: #ffffff;
}
.site-navigation a:hover,
.user-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:focus {
background-color: #242424;
}
.site-navigation,
.user-navigation {
	margin: 0;
	padding: 0;
	font-size: 16px;
font-weight: 700;
line-height: 20px;
list-style: none;
}
.main-navigation {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
}
.inner-page .main-navigation {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.main-navigation-wrapper {
	background-color: #000000;
	width: 100%;
	margin-bottom: 60px;
}
.site-navigation {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
 width: 620px;
}
.user-navigation .login-link {
	position: relative;
	max-width: 140px;
	padding-left: 50px;
	}
.login-link::before {
	content: "";
	position: absolute;
	top: 27px;
	left: 24px;
	width: 16px;
	height: 18px;

	background-image: url("../img/login.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.3;
}
.login-link:hover::before,
.login-link:focus::before,
.login-link:active::before {
opacity: 1;
}
.inner-page .user-navigation {
	margin-left: auto;
}
.container {
	width: 940px;
	margin: 0 auto;
	padding: 0 10px;
}
.main-navigation-wrapper .container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.container-title {
	margin: 0;
	padding: 0;
	margin-bottom: 15px;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.main-header-logo {
	width: 371px;
	height: 155px;
	margin-bottom: 70px;
	-webkit-box-ordinal-group: 3;
	    -ms-flex-order: 2;
	        order: 2;
}
.inner-page .main-header-logo {
	-webkit-box-ordinal-group: 1;
	    -ms-flex-order: 0;
	        order: 0;
	width: 111px;
	height: 24px;
	padding: 23px 20px;
}
.features {
	margin-bottom: 80px;
}
.features-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin: 0;	
	padding: 0;
}
.feature-item {
	list-style: none;
text-align: center;
color: #f7f4f1;
width: 700px;
}
.feature-item h3 {
	position: relative;
	margin: 0;
	margin-bottom: 60px;
	font-size: 30px;
 line-height: 42px;
}
.feature-item h3::after {
content: "";
position: absolute;
bottom: -30px;
left: 50%;
margin-left: -10px;
width: 20px;
height: 20px;
background-color: #ffffff;
-webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
        transform: rotate(45deg);
}
.feature-item p {
	margin: 0 10px;
font-weight: 700;
}
.index-columns {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	background-color: #F8F5F2;
	background-image: 
				url("../img/line-shadow.png"),
				url("../img/texture.jpg");
	background-position: center, 0 0;
	background-repeat: no-repeat, repeat;
	padding: 45px 80px;
	margin-bottom: 35px;
}
.index-columns h2 {
	margin: 0;
	margin-bottom: 22px;
}
.news,
.contacts {
	width: 380px;
}
.news-list {
	margin: 0;
	margin-bottom: 27px;
	padding: 0;
	list-style: none;
}
.news-item {
	margin-bottom: 22px;
}
.news-item p {
	margin: 0;
}
.news .button {
	margin-top: 2px;
	padding-right: 34px;
	padding-left: 34px;
}
.gallery,
.appointment {
	width: 300px;
}
.gallery-content img {
	width: 286px;
	height: 164px;
}
.gallery-container {
	position: relative;
	height: 260px;
	}

.news h2,
.gallery h2,
.contacts h2,
.appointment h2 {
	color: #000000;
font-size: 30px;
font-weight: 700;
line-height: 42px;
}
.gallery-content {
	height: 164px;
	margin: 0;

	background-color: #cccccc;
	border: 7px solid #ffffff;
}
.news p,
.contacts p,
.appointment p, time {
	color: #000000;
font-weight: 700;
}
.contacts p {
	margin: 0;
	margin-bottom: 22px;
}
.appointment-info {
	margin: 0;
	margin-bottom: 8px;
}
.appointment-form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
.appointment-item {
	width: 140px;
	margin: 0;
	margin-bottom: 10px;
}
.appointment-item label {
display: block;
margin-bottom: 9px;
margin-left: 15px;
}
.appointment-item input {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	width: 140px;
	padding-top: 8px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 7px;

	font: inherit;
	background-color: transparent;
	border-color: #663d15;
}
.button {
	display: inline-block;
	padding: 10px 30px;
	margin-right: 16px;

	font: inherit;
	text-align: center;
	color: #ffffff;
	vertical-align: middle;
	text-transform: uppercase;
	background-color: #000000;
	border: none;
}
.appointment .button {
	width: 100%;
	margin-right: 0;
	margin-top: 10px;
}
.button.disabled,
.button:disabled {
	cursor: default;
	opacity: 0.5;
	background-color: #000000;
}
.button:hover,
.button:focus,
.button:active {
	background-color: #663D15;
}
.gallery-button {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	position: absolute;
	bottom: 0;

	width: 140px;
	margin: 0;
}
.gallery-button-back {
left: 0;
}
.gallery-button-next {
	right: 0;
}
input {
	font: inherit;
	background-color: transparent;
	border: 2px solid #000000;
}
input:focus {
	border: 2px solid #663d15;
background-color: #f9f6f3;
}
time {
	text-transform: none;
}
.main-footer {
	margin-top: 65px;
	padding: 60px 0;
	color: #ffffff;
	background-color: #212121;
	background-image: url("../img/texture-footer.jpg");
	background-position: 0 0;
	background-repeat: repeat;
}
.inner-page .main-footer {
	margin-top: 50px;
}
.main-footer a {
	color: #ffffff;
	text-decoration: underline;
}
.main-footer .container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.footer-contacts {
	width: 320px;
	font-weight: 700;
	margin: 0;
	margin-right: 80px;
}
.footer-social {
	width: 145px;
	text-align: center;
}
.footer-social b {
	display: block;
	margin-bottom: 15px;
}
.footer-copyright {
	width: 140px;
	margin: 0;
	margin-left: auto;
}
.footer-copyright b {
display: block;
margin-bottom: 15px;
text-align: center;
}
.footer-copyright .button {
	font-weight: 700;
display: block;
margin-right: 0;
padding-right: 20px;
	padding-left: 20px;
}
.footer-copyright .button:hover,
.footer-copyright .button:active,
.footer-copyright .button:focus {
color: #000000;
background-color: #ffffff;
}
.social-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	width: 141px;
	margin: 0 auto;
	padding: 0;
	list-style: none;
}
.social-button {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	width: 43px;
	height: 43px;
	background-color: #000000;
}
.social-button:hover,
.social-button:focus {
	background-color: #ffffff;
}
.social-button:hover path,
.social-button:focus path {
	fill: #000000;
}

/* ------------------------------- Всплывающие окна ------------------------------*/

.modal {
	position: fixed;
	color: #000000;
	background-color: #F8F5F2;
	background-image: url("../img/texture.jpg");
	background-position: 0 0;
	background-repeat: repeat;
	-webkit-box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
	        box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}
.modal-form {
	width: 300px;
	padding: 50px 80px;
	top: 120px;
	left: 50%;
	margin-left: -230px;
	display: none;
}
@-webkit-keyframes bounce {
	0% {-webkit-transform: translateY(-2000px);transform: translateY(-2000px);}
	70% {-webkit-transform: translateY(30px);transform: translateY(30px);}
	90% {-webkit-transform: translateY(-10px);transform: translateY(-10px);}
	100% {-webkit-transform: translateY(0);transform: translateY(0);}
}
@keyframes bounce {
	0% {-webkit-transform: translateY(-2000px);transform: translateY(-2000px);}
	70% {-webkit-transform: translateY(30px);transform: translateY(30px);}
	90% {-webkit-transform: translateY(-10px);transform: translateY(-10px);}
	100% {-webkit-transform: translateY(0);transform: translateY(0);}
}
@-webkit-keyframes shake {
	0%, 100% {-webkit-transform: translateX(0);transform: translateX(0);}
	10%, 30%, 50%, 70%, 90% {-webkit-transform: translateX(-10px);transform: translateX(-10px);}
	20%, 40%, 60%, 80% {-webkit-transform: translateX(10px);transform: translateX(10px);}
}
@keyframes shake {
	0%, 100% {-webkit-transform: translateX(0);transform: translateX(0);}
	10%, 30%, 50%, 70%, 90% {-webkit-transform: translateX(-10px);transform: translateX(-10px);}
	20%, 40%, 60%, 80% {-webkit-transform: translateX(10px);transform: translateX(10px);}
}
.modal-close {
	position: absolute;
	top: 0;
	right: -34px;
	width: 22px;
	height: 22px;
	font-size: 0;
	background-color: transparent;
border: 0;
cursor: pointer;
}
.modal-close::before,
.modal-close::after {
	position: absolute;
	content: "";
	top: 10px;
	left: 2px;

	width: 19px;
	height: 3px;
	background-color: #d0d0d0;
}
.modal-close::before {
	-webkit-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	        transform: rotate(45deg);
}
.modal-close::after {
	-webkit-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	        transform: rotate(-45deg);
}
.modal-form h2 {
	margin: 0;
	margin-bottom: 20px;
	font-size: 30px;
	font-weight: 400;
	line-height: 42px;
}
.login-form p {
	margin: 0;
	margin-bottom: 10px;
}
.login-checkbox {
	color: #000000;
font-family: "PT Sans Narrow";
font-size: 14px;
font-weight: 700;
text-transform: uppercase;
}
.login-password-info a {
	color: #000000;
font-family: "PT Sans Narrow";
font-size: 14px;
font-weight: 700;
text-decoration: underline;
text-transform: uppercase;
}
.modal-form-title {
	color: #000000;
font-family: "PT Sans Narrow";
font-size: 30px;
font-weight: 700;
}
.modal-form-subtitle {
	margin: 0;
	margin-bottom: 10px;
	color: #000000;
font-family: "PT Sans Narrow";
font-size: 14px;
font-weight: 700;
text-transform: uppercase;
}
.login-form input[type="text"],
.login-form input[type="password"] {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	width: 300px;
	padding: 10px 15px;
	padding-right: 40px;
	background-color: #f9f6f3;
	border: 2px solid #000000;
	font: inherit;
	color: #000000;
	text-transform: uppercase;
}
.login-form input:focus {
	border-color: #663d15;
}
.login-icon-user {
	background-image: url("../img/user.svg");
	background-position: 270px center;
	background-repeat: no-repeat;
}
.login-icon-password {
	background-image: url("../img/lock.svg");
	background-position: 270px center;
	background-repeat: no-repeat;
}
.login-form .login-password-info {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin: 15px 0;
}
.login-checkbox {
	position: relative;
	padding-left: 30px;
	cursor: pointer;
}
.login-checkbox:hover,
.login-checkbox:focus {
	color: #663d15;
}
.login-checkbox input[type="checkbox"] + .checkbox-indicator {
	position: absolute;
	top: 0;
	left: 0;
	width: 17px;
	height: 17px;
	border: 2px solid #000000;
	}
.login-checkbox input[type="checkbox"]:focus + .checkbox-indicator {
	border-color: #663d15;
	outline: thin dotted;
	/*outline: 5px auto ~webkit-focus-ring-color;*/
}
.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before,
.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
position: absolute;
content: "";
top: 8px;
left: 1px;
width: 15px;
height: 2px;
background-color: #000000;
}
.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before {
	-webkit-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	        transform: rotate(45deg);
}
.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
	-webkit-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	        transform: rotate(-45deg);
}
.restore {
	color: #000000;
	text-decoration: underline;
}
.restore:hover,
.restore:focus {
	text-decoration: none;
}
.login-form .button {
	width: 100%;
	margin-right: 0;
} 

/* -------------------------------- Модалка с картой ----------------------- */

.modal-map {
	top: 50%;
	left: 50%;
	width: 766px;
	height: 561px;
	margin-top: -280px;
	margin-left: -390px;
	border: 7px solid white;
	display: none;
}
.modal-map p {
	 position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
	margin: 0;
}
.modal-show {
	display: block;
	-webkit-animation-name: bounce;
	        animation-name: bounce;
	-webkit-animation-duration: 0.6s;
	        animation-duration: 0.6s;
}
.modal-error {
	-webkit-animation-name: shake;
	        animation-name: shake;
	-webkit-animation-duration: 0.6s;
	        animation-duration: 0.6s;
}
.modal-map iframe {
  position: relative;
  z-index: 2;
  border: none;
}

/* ------------------------------------------ Страница Каталога ------------------------------------------- */

.site-navigation-current {
	position: relative;
}
.site-navigation-current::after {
	 content: "";
  position: absolute;
  height: 4px;
  bottom: 0px;
  left: 20px;
  right: 20px;
  background-color: #ffffff;
}
.inner-page .main-header-logo {
	margin-bottom: 0;
}
.container-catalog {
	font-family: "PT Sans Narrow";
	font-weight: 700;
	background-color: #F8F5F2;
	background-image: url("../img/texture.jpg");
	background-position: 0 0;
	background-repeat: repeat;
}
.container-title {
color: #000000;
font-size: 30px;
line-height: 42px;
}

/* ---------------------------- Хлебные крошки ------------------------------*/

.breadcrumbs {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	list-style: none;
	margin: 0;
	padding: 0;
	margin-bottom: 50px;
}
.breadcrumbs li {
	position: relative;
	margin-right: 42px;
}
.breadcrumbs li:last-child {
	margin-right: 0px;
}
.breadcrumbs li::after {
content: "";
position: absolute;
top: 7px;
right: -25px;
width: 8px;
height: 8px;
-webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
        transform: rotate(45deg);
background-color: #000000;
}
.breadcrumbs-current::after {
	display: none;
}
.breadcrumbs a {
	color: #000000;
font-size: 14px;
line-height: 20px;
font-weight: 700;
}
.breadcrumbs-current {
	color: #aba9a7;
font-size: 14px;
line-height: 20px;
}

/* --------------------------- Фильтр ----------------------------*/

 legend {
 	color: #000000;
font-size: 24px;
line-height: 30px;
 }
 .filters {
 	width: 180px;
 }
 .filter ul {
 	margin: 0;
 	padding: 0;
 	list-style: none;
 }
 .filter fieldset {
 	border: none;
 	padding: 0;
 	margin: 0;
 	margin-bottom: 30px;
 }
 .filter fieldset:first-child {
 	margin-bottom: 35px;
 }
 .filter legend {
 	margin-bottom: 26px;
 }
 .filter label {
 	color: #000000;
font-size: 14px;
line-height: 18px;
text-transform: uppercase;
 }
 .filter label:hover {
 	color: #663d15;
font-size: 14px;
line-height: 18px;
text-transform: uppercase;
 }
 .filters-catalog {
 	display: -webkit-box;
 	display: -ms-flexbox;
 	display: flex;
 	-webkit-box-pack: justify;
 	    -ms-flex-pack: justify;
 	        justify-content: space-between;
 }
.filter-option {
	margin-bottom: 19px;
	padding-left: 45px;
}
.filter-option label {
	position: relative;
	display: block;
	cursor: pointer;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
}
.filter-input-checkbox + label::before {
	content: "";
	position: absolute;
	left: -42px;
	top: 0;
	width: 16px;
	height: 16px;
	border: 2px solid #000000;
}
.filter-input-checkbox:checked + label::after {
	content: "";
	position: absolute;
	left: -38px;
	top: 4px;
	width: 12px;
	height: 12px;
	background-image: url("../img/cross.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}
.filter-input-radio + label::before {
	content: "";
	position: absolute;
	left: -42px;
	top: -1;
	width: 16px;
	height: 16px;
	border: 2px solid #000000;
	border-radius: 50%;
}
.filter-input-radio:checked + label::after {
	content: "";
	position: absolute;
	left: -36px;
	top: 6px;
	width: 8px;
	height: 8px;
	background-color: #000000;
	border-radius: 50%;
	}
 /* --------------------------------------- Карточки товара ------------------------------*/

 .catalog {
 	width: 700px;
 }
 .catalog-list {
 	padding: 0;
 	margin: 0;
 	display: -webkit-box;
 	display: -ms-flexbox;
 	display: flex;
 	-ms-flex-wrap: wrap;
 	    flex-wrap: wrap;
 	margin-bottom: 25px;
 	list-style: none;
 }
 .catalog-item {
 	width: 220px;
 	margin-bottom: 20px;
 	margin-right: 20px;

 	background-color: #f8f8f8;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 }
 .catalog-item:nth-child(3n) {
  margin-right: 0;
 }
 .catalog-item a {
 	display: -webkit-box;
 	display: -ms-flexbox;
 	display: flex;
 	-webkit-box-orient: vertical;
 	-webkit-box-direction: normal;
 	    -ms-flex-direction: column;
 	        flex-direction: column;
 }
 .catalog-item a:nth-child(1) {
 	color: #000000;
		font-size: 14px;
		line-height: 18px;
		text-transform: uppercase;
 }
 .catalog-item-price a:hover {
 	background-color: #663d15;
 }
 .catalog-item-price b {
 	width: 112px;
 	padding: 13px 25px 11px;
 	font-size: 14px;
 	line-height: 20px;
 	text-align: center;
 	background-color: #E6E6E6;
 	color: #000000;
 }
  .catalog-item h3 {
 	-webkit-box-ordinal-group: 2;
 	    -ms-flex-order: 1;
 	        order: 1;
 	margin-top: 17px;
 	margin-bottom: 12px;
 	margin-left: 16px;
 	margin-right: 15px;
 	font-size: 14px;
 	line-height: 18px;
 }
 .catalog-category {
 	display: block;
 	text-transform: none;
 }
 .catalog-item-amage {
 	width: 220px;
 	height: 165px;
 	margin: 0;
 }
 .catalog-item-price {
 	display: -webkit-box;
 	display: -ms-flexbox;
 	display: flex;
 	margin: 15px;
 	margin-top: 0;
 }
 .catalog-item-price .button {
 	width: 50px;
 	padding: 13px 18px 11px;
 	margin-right: 0;
 	line-height: 20px;
 }

/* ------------------------- Пагинация ------------------------*/

.pagination-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	padding: 0;
	margin: 0;
	list-style: none;
}
.pagination-item {
	margin-right: 5px;
}
.pagination-item:last-child {
	margin-right: 0;
}
 .pagination-item a {
 	display: block;
 	padding: 10px 19px;
 	background-color: #000000;
 	color: #ffffff;
 }
 .pagination-item a:hover {
 	background-color: #663d15;
 }
 .pagination-item-current a {
 	background-color: #ffffff;
 	color: #000000;
 }
 .pagination-item-current a:hover {
 	background-color: #ffffff;
 	color: #000000;
 }

/* ---------------------------- Карточка товара --------------------------- */

.photos-info {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.product-photo-preview {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 0;
	margin: 0;
	list-style: none;
}
.product-photo-preview li {
	width: 140px;
	height: 149px;
	margin-right: 20px;
	-webkit-box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
	        box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
}
.product-photo-preview li:nth-child(3n) {
	margin-right: 0;
}
.product-photo-full {
	width: 460px;
	height: 498px;
	margin: 0;
	margin-top: 3px;
	margin-bottom: 20px;
	-webkit-box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
	        box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
}
.product-article {
	text-align: right;
	color: #aeaeae;
}
.product-price b {
	padding-top: 13px;
	padding-left: 36px;
	padding-right: 36px;
	padding-bottom: 11px;
line-height: 20px;
text-align: center;
background-color: #e5e5e5;
-webkit-box-sizing: border-box;
        box-sizing: border-box;
}
.product-info h3 {
	margin: 0;
	margin-bottom: 27px;
	font-size: 24px;
	line-height: 30px;
}
.product-info ul {
	margin: 0;
	padding: 0;
	font-weight: 700;
	list-style: none;
}
.product-photos {
	width: 460px;
}
.product-info {
	width: 390px;
	padding-top: 23px;
}
.product-info p {
	margin: 0;
	font-weight: 700;
}
.product-description {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding-right: 10px;
	margin-bottom: 29px;
}
.product-description p {
	width: 200px;
}
.product-info .product-price {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 63px;
}
.product-price .button {
	padding-left: 17px;
	padding-right: 17px;
}
.product-info .product-text {
	margin-bottom: 35px;
}
.product-info li {
	position: relative;
	padding-left: 23px;
}
.product-info li::before {
	content: "";
	width: 8px;
	height: 8px;
	position: absolute;
	top: 7px;
	left: 2px;
	background-color: #000000;
	-webkit-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	        transform: rotate(45deg);
}
.page-title-item {
	margin-top: 60px;
 margin-bottom: 23px;
}

	 /* ------------------------------ Прайс-лист --------------------------- */


.inner-page-container .page-title {
	color: #000000;
font-family: "PT Sans Narrow";
font-size: 30px;
font-weight: 700;
line-height: 42px;
margin-bottom: 15px;
}
.inner-content {
	font-weight: 700;
  margin-bottom: 75px;
}
.inner-content h2 {
  margin-top: 60px;
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 30px;
}
.inner-content h3 {
  margin-top: 60px;
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 24px;
}
.inner-content h2 + h3 {
  margin-top: 30px;
}
.inner-content p {
  margin: 14px 0;
}
.inner-content table {
  border-collapse: collapse;
}
.inner-content td {
  padding: 10px 15px;

  border: 2px solid #000000;
}
.inner-content .big-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  
  margin-top: 55px;
  margin-bottom: 65px;
  
  font-size: 48px;
  line-height: 48px;
  text-align: center;
}
.big-heading::before,
.big-heading::after {
  content: "";
  
  -webkit-box-flex: 1;
  
      -ms-flex-positive: 1;
  
          flex-grow: 1;
  -ms-flex-negative: 0;
      flex-shrink: 0;

  width: 50px;
  height: 2px;

  background: #000000;
}
.big-heading::before {
  margin-right: 25px;
}
.big-heading::after {
  margin-left: 25px;
}
.custom-list-1 {
  margin: 14px 0;
  padding: 0;

  list-style: none;
}
.custom-list-1 li {
  position: relative;

  margin-bottom: 15px;
  padding-left: 20px;
}
.custom-list-1 li::before {
  content: "";

  position: absolute;
  top: 8px;
  left: 0;

  width: 8px;
  height: 8px;

  background-color: #000000;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.custom-table-1 {
  width: 100%;
}
.custom-table-1 td {
  width: 50%;
}
.custom-table-1 td:last-child {
  text-align: center;
}
.inner-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  
  margin: 60px 0;
}
.inner-column-left,
.inner-column-right {
  width: 460px;
}
.inner-column-left *:first-child,
.inner-column-right *:first-child {
  margin-top: 0;
}
.inner-column-left *:last-child,
.inner-column-right *:last-child {
  margin-bottom: 0;
}
.inner-columns > h2:first-child {
  width: 460px;
  margin-top: 0;
  margin-right: 460px;
  margin-right: calc(100% - 460px);
}
.short-text {
  padding-right: 80px;
}











 